@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('./__variables.css');
@import url('./__reset.css');
@import url('./style.css');

.container {
    max-width: 1250px;
    padding: 0 10px;
    margin: 0 auto;
}

.wrapper {
    margin: 120px 0 120px 0;
    text-align: center;
}

.btn {
    min-width: 170px;
    min-height: 41px;
    padding: 11px 12px;
    font-size: var(--btn-text-size);
    font-weight: var(--btn-text-weigth);
    line-height: var(--btn-text-heigth);
    border-radius: 6px;
    text-align: center;
}

.btn-primary {
    border: 1px solid var(--btn-color);
    background: var(--btn-color);
    color: var(--btn-text-primary-color);
}

.btn-secondary {
    border: 1px solid var(--btn-color);
    background: transparent;
    color: var(--btn-text-secondary-color);
}

.title {
    font-size: var(--title-size);
    font-weight: var(--title-weigth);
    line-height: var(--title-heigth);
    color: var(--text-primary-color);
}

.text {
    font-size: var(--text-size);
    font-weight: var(--text-weigth);
    line-height: var(--text-heigth);
    color: var(--text-secondary-color);
}