@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('./__variables.css');
@import url('./__reset.css');
@import url('./style.css');

.container {
    max-width: 1250px;
    padding: 0 10px;
    margin: 0 auto;
}

.wrapper {
    padding: 120px 0 120px 0;
    text-align: center;
}

a.active {
    color: var(--link-color-hover);
}

input {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.4);
    background: #D6D8F9;
    border: transparent;
}

.btn {
    min-width: 170px;
    min-height: 41px;
    padding: 11px 12px;
    font-size: var(--btn-text-size);
    font-weight: var(--btn-text-weigth);
    line-height: var(--btn-text-heigth);
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
    transition: all .2s;
    border: transparent;
}

.btn-primary {
    border: 1px solid var(--btn-color);
    background: var(--btn-color);
    color: var(--btn-text-primary-color);
    transition: all .2s;
}

.btn-primary:hover {
    background: var(--btn-hover-color);
    border: 1px solid var(--btn-hover-color);
}

.btn-secondary {
    border: 1px solid var(--btn-color);
    background: transparent;
    color: var(--btn-text-secondary-color);
    transition: all .2s;
}

.btn-secondary:hover {
    background: var(--btn-hover-color);
    color: var(--btn-text-primary-color);
}

.title {
    font-size: var(--title-size);
    font-weight: var(--title-weigth);
    line-height: var(--title-heigth);
    color: var(--text-primary-color);
}

.text {
    font-size: var(--text-size);
    font-weight: var(--text-weigth);
    line-height: var(--text-heigth);
    color: var(--text-secondary-color);
}



