@import "_variables";

/* top */
.top {
    padding: 0 0 60px;
    background-image: url("../assets/img/top-img/top-background.svg");
    background-repeat: no-repeat;
    background-position: bottom right;
    &__left__part {
        position: relative;
        width: 70%;
    }
}

//.top__left

.top__left__part::after {
    position: absolute;
    content: url("../assets/icon/top-icon/book-icon.svg");
    top: 50px;
    right: 130px;
    transform: rotate(12.79deg);
    background: linear-gradient(180deg, rgba(214, 216, 249, 0.18) -32.08%, rgba(214, 216, 249, 0.9) 127.36%);
    border-radius: 20px;
}

.top__left__part::before {
    position: absolute;
    content: url("../assets/icon/top-icon/lamp-icon.svg");
    top: 170px;
    left: 10px;
    transform: rotate(-8.82deg);
    padding: 16px;
    background: linear-gradient(180deg, rgba(214, 216, 249, 0.18) -32.08%, rgba(214, 216, 249, 0.9) 127.36%);
    border-radius: 20px;
}

.top__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}




/* news */
.news {
    background-image: url("../assets/img/news-img/background-top.svg");
    background-repeat: no-repeat;
    background-position: top right;
    position: relative;
}

.news::after {
    position: absolute;
    content: url("../assets/img/news-img/background-bottom.svg");
    bottom: -7px;
}

.news__wrapper {
    text-align: center;
}

.news__text-content {
    text-align: center;
    margin: 0 0 83px;
}

.news__list {
    display: flex;
    justify-content: space-between;
    margin: 0 0 48px;
}

.news__item {
    max-width: 276px;
    padding: 12px 12px 20px;
    background: var(--background-list-item);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.news__item-body {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(41, 43, 86, 0.45);
    margin: 0 0 19px;
}

.news__item-body > img {
    border-radius: 20px;
    margin: 0 0 20px;
}

.news__item p {
    margin: 0;
}

.news__name-group {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #747FE4;
    margin: 0 0 8px;
}

.news__body-title {
    font-weight: 600;
    font-size: var(--text-size);
    line-height: var(--text-heigth);
    color: var(--text-primary-color);
    margin: 0 0 12px;
}

.news__description {
    font-weight: var(--text-weigth);
    font-size: 14px;
    line-height: var(--text-heigth);
    color: var(--text-secondary-color);
    margin: 0 0 20px;
}

.news__date {
    font-weight: var(--text-weigth);
    font-size: 14px;
    line-height: var(--text-heigth);
    color: var(--text-secondary-color);
    text-align: right;
}

.news__name-user {
    font-weight: 500;
    margin: 0 0 2px;
}

.news__item__footer {
    display: flex;
    align-items: center;
}

.news__item__footer-description {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 27px;
    margin: 0 0 0 15px;
}


/* description */
.description {
    background-image: url("../assets/img/description/background-top.svg");
    background-repeat: no-repeat;
    background-position: top left;
}

.description__text-content {
    margin: 0 0 83px;
}

.description__video > iframe {
    width: 648px;
    height: 365px;
    border-radius: 5px;
}

.description__footer {
    text-align: right;
}

.description__footer-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
}

.description__footer-link span {
    margin: 0 8px 0 0;
}

/* professions */
.professions__text-content {
    margin: 0 0 84px;
}

.professions__list {
    display: flex;
    justify-content: space-between;
    margin: 0 0 40px
}

.professions__item {
    width: 372px;
    height: 515px;
    text-align: left;
    background: var(--background-list-item);
    padding: 36px;
    border-radius: 20px;
    position: relative;
}

.professions__item-header {
    display: flex;
    align-items: center;
    grid-gap: 13px;
    border-bottom: 1.5px solid #272953;
    padding: 0 0 22px;
    margin: 0 0 29px;
}

.profession__logo {
    width: 54px;
    height: 54px;
    display: flex;
    justify-content: center;
}

.profession__title {
    font-weight: var(--title-weigth);
    font-size: var(--text-size);
    line-height: var(--text-heigth);
    color: rgba(67, 16, 142, 0.8);
    width: max-content;
}

.profession__salary {
    font-weight: var(--title-weigth);
    font-size: var(--text-size);
    line-height: var(--text-heigth);
    color: rgba(67, 16, 142, 0.8);
}

.professions__description-list {
    list-style: disc;
    padding: 0 0 0 20px;
}

.professions__description-item {
    margin: 0 0 16px;
}

.professions__description-item::marker {
    color: rgba(91, 0, 225, 0.5);;
}

.professions__description-item span {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.professions__item-footer {

}

.map > iframe {
    border-radius: 10px;
    width: 95vw;
    margin: 0 auto;
}


/* modal contacts */

.contacts__modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .5);
}

.contacts__modal-body {
    display: flex;
    justify-content: space-between;
    width: max-content;
    background: #FFFFFF;
    box-shadow: 4px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 20px;
}

.contacts__data {
    padding: 12px 22px;
    background: rgba(134, 104, 168, 0.7);
    border-radius: 20px 0 0 20px;
    box-shadow: 1px 1px 4px rgb(0 0 0 / 25%);
    border-right: 1px solid #8668A8;
}

.contacts__logo {
    margin: 0 0 21px;
}

.contacts__title {
    margin: 0 0 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.contacts__list {
    display: flex;
    flex-direction: column;
    grid-gap: 25px;
    padding: 0 0 40px;
}

.contacts__item {
    display: flex;
    align-items: center;
    grid-gap: 11px;
}

.contacts__item > span {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #e5e5e5;
}

.contacts__feedback {
    padding: 12px 120px 12px 20px
}

.feedback__body {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
}

.feedback__body > input {
    padding: 7px 12px;
    border-radius: 12px;
    color: rgba(0, 0, 0, 0.4);
}

.feedback__select {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.4);
    background: #D6D8F9;
    border: transparent;
    padding: 7px 12px;
    border-radius: 12px;
    outline: none;
}

.feedback__title {
    font-weight: 300;
    font-size: 26px;
    line-height: 39px;
    color: #202456;
    margin: 0 0 22px;
}

.feedback__btn-wrapper {
    margin: 34px 0 0;
}

.feedback__btn {
    border: transparent;
    cursor: pointer;
    background: #D6D8F9;
    border-radius: 6px;
    padding: 10px 22px;
    color: rgba(54, 38, 88, 0.8);
    transition: all .2s;
    font-size: var(--btn-text-size);
    font-weight: var(--btn-text-weigth);
    line-height: var(--btn-text-heigth);
}

.feedback__btn:hover {
    background: #B1B5F3;
}